body{
    background: #f1b379;
    padding: 5px;
    margin: 0;
    text-align: center;
}
h1 {
    font-family: "Britannic Bold", SansSerif, sans-serif;
    color: #353535;
}
h2{

}
input{
    font-family: "Courier New", serif;
    padding: 5px;
    border-radius: 3px 0;
}